/*new css start from here*/
.panel-body{
	height:155px;
	overflow-y:scroll;
}
.zoom-box {
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	-webkit-transform: scale(1.8);
	-moz-transform: scale(1.8);
	-ms-transform: scale(1.8);
	-o-transform: scale(1.8);
	transform: scale(1.8);
	position: relative;
	z-index: 1000;
}
.color-w{
	border:1px solid #eee;
	margin: 0 10px 9px 0;
}
.color-w input{
	display:none;
}
.accord-head{
	background:#eee;
	padding:5px;
}
.accord-head a{
	display:block;
	height:25px;
	line-height:2.5;
}
.accord-head span{
	padding:0 10px;
}
.dot-round{
	border:1px dotted red;
}
.quick_search p{
	position: relative;
	top: -3px;
	left: 5px;
}
.quick_search ul li{
	min-width:70px;
	padding:2px;
	height:18px;
}
/* ROUNDED ONE */
.roundedOne {
	width: 15px;
	height: 15px;
	float:left;
	border:1px solid #CEE;
	background: #fcfff4;
	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}

.roundedOne label {
	cursor: pointer;
	position: absolute;
	width: 9px;
	height: 9px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	left: 3px;
	top: 3px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.roundedOne label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 5px;
	height: 5px;
	background: #00bf00;

	background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -o-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -ms-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: linear-gradient(top, #00bf00 0%, #009400 100%);

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	top: 2px;
	left: 2px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.roundedOne label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}
.roundedOne input[type=checkbox]{
	height: 6px;
	width: 6px;
	position: absolute;
	top: 4px;
	left: 4px;
	display:none;
}
.roundedOne input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.brand_name p{
	padding:8px 0;
}
.price-color{
	color:#1C659C !important;
	font-weight:bold;
}
.agree-check input[type="checkbox"]{
	height:30px;
	width:30px;
}
.agree-check span{
	position:relative;
	top:-10px;
	font-size:12px;
}
.check{
	position:relative;
	left:1.7em;
}
.checks{
	margin:-35px 0 0 35px;
}
.item-popup{
	position:absolute;
	top:0;
	left:0;
	z-index:100000;
	background:url(../../public/img/brand-long-bg.png) repeat-x;
	color:#fff;
	border-radius:0;
	padding:10px;
	height:225px;
	width:260px;
	border:1px solid #07457D;
	box-shadow:1px 2px 3px #555;
}
.popover.bottom .arrow:after{
	border-bottom-color:#07457D;
}
.crt-ttl{
	background:#07457D;
	text-align:center;
	padding:5px;
}
.chkuot{
	border:none;
	background:#fb8ae6;
	padding:5px 10px;
}
.chkuot:hover{
	opacity:0.8;
}
.prd-pnl{
	width:52px;
	height:52px;
	float:left;
	margin-right:15px;
	border:1px solid #ddd;
}
.prd-desc{
	display:inline-block;
	height:52px;
	width:190px;
}
.prd-desc p{
	margin-bottom:2px;
}
.popover.bottom .arrow{
	left:30%;
}
.language-select .dd .ddTitle{
	background:none !important;	
}
#countries-flag_title{
	text-align:left;
}
#countries-flag_title .ddlabel{
	position:relative;
	top:2px;
	left:5px;
}
.country img{
	margin:0;
}
/*-------Rate this video-------*/	
.rating {
	border:none;
	padding:5px 0;
}
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
	width:20%;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#aaa;
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
	color:#1C659C;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
	color: #1C659C;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
	color:#1C659C;
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
/*rating css end here*/
/* SQUARED ONE */
.squaredOne {
	width: 15px;
	height: 15px;
	background: #fcfff4;
	float:left;
	top:7px;
	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}

.squaredOne label {
	cursor: pointer;
	position: absolute;
	width: 9px;
	height: 9px;
	left: 3px;
	top: 3px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredOne label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 5px;
	height: 5px;
	background: #00bf00;

	background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -o-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -ms-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: linear-gradient(top, #00bf00 0%, #009400 100%);

	top: 2px;
	left: 2px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.squaredOne label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}
.squaredOne input[type=checkbox]{
	height: 6px;
	width: 6px;
	position: absolute;
	top: 1px;
	left: 1px;
	display:none;
}
.squaredOne input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.sqr-one p{
	color: #fff;
	font-size: 15px;
	margin: 4px;
}
.contact input[type="text"]{
	background:url(../../public/img/1800c.png) no-repeat;
	-webkit-font-smoothing: antialiased;
	background-position: right 0;
	height: 23px;
	line-height: 23px;
	top: 0;
	left: 0;
	border:0;
	width:100%;
}

.powerPicker1,
.powerPicker2 {
	position: absolute;
	width: 118px;
	display:none;
	margin:0;
	margin-left:-20px !important;
	max-height: 300px;
	overflow-y: scroll;
	background: #fff;
	margin-left: 8px;
	border: 1px solid #ccc;
	padding: 5px;
	padding-left: 8px;
	-webkit-box-shadow: #ccc 0 0 10px;
	-moz-box-shadow: #ccc 0 0 10px;
	box-shadow: #ccc 0 0 10px;
}
.powerPicker1 table th,
.powerPicker2 table th {
	border-bottom: 1px solid #ccc;
	text-align: center;
	padding: 3px 3px 3px 1px;
	color: #222A7E;
	font-weight: bold;
}
.powerPicker1 table .positiveValues,
.powerPicker2 table .positiveValues {
	border-left: 1px solid #ccc;
	padding-left: 4px;
}
.powerPicker1 table td,
.powerPicker2 table td,
.pbox1 table td,
.pbox2 table td {
	text-align: center;
	padding: 3px;
}
#power1,
#power2,
#box1,
#box2{
	text-indent:1em;
}
.pbox1,
.pbox2{
	position: absolute;
	width: 34px;
	display:none;
	margin:0;
	margin-left:-2px !important;
	max-height: 300px;
	background: #fff;
	margin-left: 8px;
	border: 1px solid #80C4EE;
	padding-left: 8px;
}
.pbox1 table tr:hover,
.pbox2 table tr:hover{
	color:#80C4EE;
}
.btn-blue:hover,
.btn-white:hover{
	opacity:0.7;
}
/*-------Rate this video-------*/	
.rating-sm {
    float:left;
	border:none;
	padding:2px;
}
.rating-sm:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating-sm:not(:checked) > label {
    float:right;
	width:17px;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:100%;
    line-height:1.2;
    color:#aaa;
}

.rating-sm:not(:checked) > label:before {
    content: '★ ';
}

.rating-sm > input:checked ~ label {
	color:#1C659C;
}

.rating-sm:not(:checked) > label:hover,
.rating-sm:not(:checked) > label:hover ~ label {
	color: #1C659C;
}

.rating-sm > input:checked + label:hover,
.rating-sm > input:checked + label:hover ~ label,
.rating-sm > input:checked ~ label:hover,
.rating-sm > input:checked ~ label:hover ~ label,
.rating-sm > label:hover ~ input:checked ~ label {
	color:#1C659C;
}

.rating-sm > label:active {
    position:relative;
    top:2px;
    left:2px;
}
.starbg{
	background:#eee;
}
/*rating css end here*/
.review-one,
.review-two{
	border-bottom:1px dotted #ddd;
}
.review-panel{
	display:none;
}
.chk-out:hover,
.wish-list:hover{
	opacity:0.7;
}
.search-btn:hover{
	background:url(../../public/img/search-btn-hover-bg.png);
	height:40px;
	color:#FFF;
}
.dsa-c{
	color:#1c659c !important;
	font-size:24px !important;
}
.agree-check h3{
	position:relative;
	top:0;
	left:10px;
}
.review-all{
	position:absolute;
	display:none;
	background:#fff;
	border:1px solid #ddd;
}
.rev-cont{
	height:260px;
	overflow-y:scroll;
}